In [1]:
#Dependencies
import pandas as pd

In [2]:
#Assign variable to read csv file
school_path="../Resources/schools_complete.csv"
student_path="../Resources/students_complete.csv"
print(school_path)

../Resources/schools_complete.csv

In [3]:
#Create Panda dataframes by reading csv file
school_df=pd.read_csv(school_path)
student_df=pd.read_csv(student_path)

In [4]:
#Merge 2 tables provided;student info table, school table; complete_df
complete_df=pd.merge(student_df, school_df, how="left", on=["school_name","school_name"])
complete_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [5]:
#OUTPUTS FOR DISTRICT SUMMARY: Total Schools, Total Students, Total Budget, Average Math Schore, Average Reading Score
print("DISTRICT SUMMARY\n----------------")

#Total Number of Schools (via count) 
total_schools=school_df["school_name"].count()
print(f"Total Schools: {total_schools}")

#Total Number of Students (via sum)
total_students=school_df["size"].sum()
print(f"Total Students: {total_students}")

#Total Budget (via sum)
total_budget=school_df["budget"].sum()
print(f"Total Budget: ${total_budget:,}")

#Average Maths Score
avg_math_score=student_df["math_score"].mean()
print(f"Average Math Score: {avg_math_score:.1f}")

#Average Reading Score
avg_reading_score=student_df["reading_score"].mean()
print(f"Average Reading Score: {avg_reading_score:.1f}")

DISTRICT SUMMARY
----------------
Total Schools: 15
Total Students: 39170
Total Budget: $24,649,428
Average Math Score: 79.0
Average Reading Score: 81.9

In [6]:
#OUTPUTS FOR DISTRICT SUMMARY: Percent Students Passing Math, Percent Students Passing Reading, Percent Students Passing Both

print("DISTRICT SUMMARY cont'd\n----------------")
# TEST to get an idea of min, max, median and avg score: 
#print(student_df.describe())

#Percentage Passing Math (The percentage of students that passed Math)
students_pass_math=student_df[student_df["math_score"]>=70].count()["student_name"]
percent_pass_math=students_pass_math/total_students*100
print(f"Percentage Students Passing Maths: {percent_pass_math:.2f}%")

#Percentage passing Reading (The percentage of students that passed Reading)
students_pass_reading=student_df[student_df["reading_score"]>=70].count()["student_name"]
percent_pass_reading=students_pass_reading/total_students*100
print(f"Percentage Students Passing Reading: {percent_pass_reading:.2f}%")

#Percentage passing Math and Reading
students_pass_both=(student_df[(student_df["math_score"]>=70) & (student_df["reading_score"]>=70)]).count()["student_name"]
percent_pass_both=students_pass_both/total_students*100
print(f"Percentage Students Passing Both: {percent_pass_both:.2f}%")

DISTRICT SUMMARY cont'd
----------------
Percentage Students Passing Maths: 74.98%
Percentage Students Passing Reading: 85.81%
Percentage Students Passing Both: 65.17%

In [7]:
#DISTRICT SUMMARY TABLE: dis_summary_df

####Editing presentation for new dataframe dis_summary_df ######
dis_summary_df=pd.DataFrame({"Total Schools":[total_schools],"Total Students": [total_students],"Total Budget":[total_budget],"Average Math Score":[avg_math_score],"Average Reading Score":[avg_reading_score],"% Passing Math":[percent_pass_math],"% Passing Reading":[percent_pass_reading],"% Overall Passing":[percent_pass_both]})
#Edit formating for Total Budget column
dis_summary_df["Total Budget"]=dis_summary_df["Total Budget"].map("${:,}".format)

print("DISTRICT SUMMARY")
dis_summary_df

DISTRICT SUMMARY

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428",78.985371,81.87784,74.980853,85.805463,65.172326

In [8]:
complete_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [9]:
# School Summary: summary_p3_df

#----------------
#make a copy of the complete_df and add in a boolean column each for passing math, passing reading, overall passing
boolean_df=complete_df.copy()

#Add new math boolean column, reading boolean column, both boolean column to the original merged complete_df and set constraints for passing
#Note: This is used for attaining the % passing math later on when groupby and .mean is applied. 
boolean_df["% Passing Math"]=boolean_df["math_score"]>=70
boolean_df["% Passing Reading"]=boolean_df["reading_score"]>=70
boolean_df["% Overall Passing"]=(boolean_df["math_score"]>=70) & (boolean_df["reading_score"]>=70)
boolean_df

#---------------
#groupby per school: summary_df is the summary of grouped by schools raw data (Ready to output data when combined with .count, .mean etc)
school_groups_df=boolean_df.groupby(["school_name"])

#----------------
#make a copy and produce mean table grouped by schools: summary_p1_df
# summary_p1_df=school_groups_df.copy()
summary_p1_df=school_groups_df.mean()
summary_p1_df
# #columns returned are : school_name, Student ID, Average Reading Score, Average Math Score, School ID, size, budget, % Passing Math, % Passing Reading, % Overall Passing
# #columns missing are: School Type, Per Student Budget

# #add in column 'Per Student Budget'
summary_p1_df["Per Student Budget"]=summary_p1_df["budget"]/summary_p1_df["size"]
summary_p1_df
# #columns returned are : school_name, Student ID, Average Reading Score, Average Math Score, School ID, size, budget, % Passing Math, % Passing Reading, % Overall Passing, Per Student Budget
# #columns missing are: School Type

#----------------
#make a copy and group by school name, column 'school type': summary_p2_df
###ERROR WITH THIS METHOD
summary_p2_df=school_groups_df["type"].unique()
summary_p2_df

#columns returned are: type
#note: type refers to School Type in summary_p2_df
#columns missing are: per student budget, % passing math, % passing reading, % overall passing

#--------------
#Join the 2 dataframes together. Note that the school_name are the indexes for both the grouped dataframes: summary_p3_df
summary_p3_df=summary_p1_df.join(summary_p2_df)
summary_p3_df

#-------------
#####Editing columns for presentation ########
#Rename coluuns
summary_p3_df=summary_p3_df.rename(columns={"type":"School Type","size":"Total Students","budget":"Total School Budget","math_score":"Average Math Score","reading_score":"Average Reading Score"})
summary_p3_df
#Drop columns
summary_p3_df=summary_p3_df.drop(columns={"Student ID","School ID"})
summary_p3_df
#Re-arrange columns
summary_p3_df=summary_p3_df[["School Type","Total Students", "Total School Budget","Per Student Budget","Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing"]]
summary_p3_df
#Remove brackets in School Type column 
# summary_p3_df["School Type"]=summary_p3_df["School Type"].replace("[District]":"District"})
# summary_p3_df

#Format the Total Students with no decimals
summary_p3_df["Total Students"]=summary_p3_df["Total Students"].map("{:.0f}".format)
summary_p3_df
#Format the Total School Budget column with $ and ,
summary_p3_df["Total School Budget"]=summary_p3_df["Total School Budget"].map("${:,.2f}".format)
summary_p3_df
#Format the Per Student Budget column with $ and 2 decimals
summary_p3_df["Per Student Budget"]=summary_p3_df["Per Student Budget"].map("${:,.2f}".format)
summary_p3_df
#Convert % Passing Math, % Passing Reading, % Overall Passing to percentage values by multiplying it by 100
summary_p3_df["% Passing Math"]=summary_p3_df["% Passing Math"]*100
summary_p3_df["% Passing Reading"]=summary_p3_df["% Passing Reading"]*100
summary_p3_df["% Overall Passing"]=summary_p3_df["% Overall Passing"]*100
summary_p3_df

#Converting column 'School Type' from list to string
summary_p3_df["School Type"]=summary_p3_df["School Type"].apply(",".join)
summary_p3_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

In [10]:
#Top Performing Schools (By % Overall Passing)

#sort and display top 5 performing schools by % Overall Passing
top_overall_schools_df=summary_p3_df.sort_values(by="% Overall Passing", ascending=False)
top_overall_schools_df.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

In [11]:
#Bottom Performing Schools (By % Overall Passing)

#sort and display bottom 5 performing schools by % Overall Passing
bottom_overall_schools_df=summary_p3_df.sort_values(by="% Overall Passing", ascending=True)
bottom_overall_schools_df.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

In [12]:
#####MATH SCORES BY GRADE: GROUPBY SCHOOL, output dataframes: g9_groupby_avg_df, g10_groupby_avg_df, g11_groupby_avg_df, g12_groupby_avg_df

##9th Grade##
#Use student_df as the raw data starting point
student_g9_df=student_df.copy()

#Set condition to filter list to only Grade 9
condition=student_g9_df["grade"]=="9th"

student_g9_df=student_g9_df[condition]
student_g9_df

#groupby grade
student_g9_groupby_df=student_g9_df.groupby(["school_name"])
#get average based on group by school_name
g9_groupby_avg_df=student_g9_groupby_df.mean()
g9_groupby_avg_df

#clean up data columns and rename columns
#Drop columns
g9_groupby_avg_df=g9_groupby_avg_df.drop(columns=["Student ID"])
#rename columns
g9_groupby_avg_df=g9_groupby_avg_df.rename(columns={"reading_score":"9th Grade Reading Score","math_score":"9th Grade Math Score"})
print(g9_groupby_avg_df.head(3))
#---------------------

##10th Grade##
#Use student_df as the raw data starting point
student_g10_df=student_df.copy()

#Set condition to filter list to only Grade 10
condition=student_g10_df["grade"]=="10th"

student_g10_df=student_g10_df[condition]
student_g10_df

#groupby grade
student_g10_groupby_df=student_g10_df.groupby(["school_name"])
#get average based on group by school_name
g10_groupby_avg_df=student_g10_groupby_df.mean()
g10_groupby_avg_df

#clean up data columns and rename columns
#Drop columns
g10_groupby_avg_df=g10_groupby_avg_df.drop(columns=["Student ID"])
#rename columns
g10_groupby_avg_df=g10_groupby_avg_df.rename(columns={"reading_score":"10th Grade Reading Score","math_score":"10th Grade Math Score"})
print(g10_groupby_avg_df.head(3))
#---------------------

##11th Grade##
#Use student_df as the raw data starting point
student_g11_df=student_df.copy()

#Set condition to filter list to only Grade 11
condition=student_g11_df["grade"]=="11th"

student_g11_df=student_g11_df[condition]
student_g11_df

#groupby grade
student_g11_groupby_df=student_g11_df.groupby(["school_name"])
#get average based on group by school_name
g11_groupby_avg_df=student_g11_groupby_df.mean()
g11_groupby_avg_df

#clean up data columns and rename columns
#Drop columns
g11_groupby_avg_df=g11_groupby_avg_df.drop(columns=["Student ID"])
#rename columns
g11_groupby_avg_df=g11_groupby_avg_df.rename(columns={"reading_score":"11th Grade Reading Score","math_score":"11th Grade Math Score"})
print(g11_groupby_avg_df.head(3))
#---------------------

##12th Grade##
#Use student_df as the raw data starting point
student_g12_df=student_df.copy()

#Set condition to filter list to only Grade 12
condition=student_g12_df["grade"]=="12th"

student_g12_df=student_g12_df[condition]
student_g12_df

#groupby grade
student_g12_groupby_df=student_g12_df.groupby(["school_name"])
#get average based on group by school_name
g12_groupby_avg_df=student_g12_groupby_df.mean()
g12_groupby_avg_df

#clean up data columns and rename columns
#Drop columns
g12_groupby_avg_df=g12_groupby_avg_df.drop(columns=["Student ID"])
#rename columns
g12_groupby_avg_df=g12_groupby_avg_df.rename(columns={"reading_score":"12th Grade Reading Score","math_score":"12th Grade Math Score"})
print(g12_groupby_avg_df.head(3))

                      9th Grade Reading Score  9th Grade Math Score
school_name
Bailey High School                  81.303155             77.083676
Cabrera High School                 83.676136             83.094697
Figueroa High School                81.198598             76.403037
                      10th Grade Reading Score  10th Grade Math Score
school_name
Bailey High School                   80.907183              76.996772
Cabrera High School                  84.253219              83.154506
Figueroa High School                 81.408912              76.539974
                      11th Grade Reading Score  11th Grade Math Score
school_name
Bailey High School                   80.945643              77.515588
Cabrera High School                  83.788382              82.765560
Figueroa High School                 80.640339              76.884344
                      12th Grade Reading Score  12th Grade Math Score
school_name
Bailey High School                   80.912451              76.492218
Cabrera High School                  84.287958              83.277487
Figueroa High School                 81.384863              77.151369

In [13]:
#MATH AND READING SCORES BY GRADE: MERGING DATAFRAMES, on school_name: g9_groupby_avg_df, g10_groupby_avg_df, g11_groupby_avg_df, g12_groupby_avg_df

g9_10_avg_df=pd.merge(g9_groupby_avg_df,g10_groupby_avg_df,on="school_name")
g9_10_11_avg_df=pd.merge(g9_10_avg_df,g11_groupby_avg_df,on="school_name")
g9_10_11_12_avg_df=pd.merge(g9_10_11_avg_df,g12_groupby_avg_df,on="school_name")
##TEST print all averages of Math and Reading for all grades, grouped by school name
print(g9_10_11_12_avg_df.head(3))

                      9th Grade Reading Score  9th Grade Math Score  \
school_name
Bailey High School                  81.303155             77.083676
Cabrera High School                 83.676136             83.094697
Figueroa High School                81.198598             76.403037

                      10th Grade Reading Score  10th Grade Math Score  \
school_name
Bailey High School                   80.907183              76.996772
Cabrera High School                  84.253219              83.154506
Figueroa High School                 81.408912              76.539974

                      11th Grade Reading Score  11th Grade Math Score  \
school_name
Bailey High School                   80.945643              77.515588
Cabrera High School                  83.788382              82.765560
Figueroa High School                 80.640339              76.884344

                      12th Grade Reading Score  12th Grade Math Score
school_name
Bailey High School                   80.912451              76.492218
Cabrera High School                  84.287958              83.277487
Figueroa High School                 81.384863              77.151369

In [14]:
###MATH SCORE BY GRADE### This is the final table

#copy math and reading avg score df
math_avg_score_grouped_df=g9_10_11_12_avg_df.copy()

#Drop Columns
math_avg_score_grouped_df=math_avg_score_grouped_df.drop(columns=["9th Grade Reading Score","10th Grade Reading Score","11th Grade Reading Score","12th Grade Reading Score"])
math_avg_score_grouped_df

#Rename Columns as per solutions
math_avg_score_grouped_df=math_avg_score_grouped_df.rename(columns={"9th Grade Math Score":"9th","10th Grade Math Score":"10th","11th Grade Math Score":"11th","12th Grade Math Score":"12th"})

print(f"MATH SCORES BY GRADE \n {math_avg_score_grouped_df}")

MATH SCORES BY GRADE
                              9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [15]:
##READING SCORE BY GRADE### This is the final table

#copy reading and reading avg score df
reading_avg_score_grouped_df=g9_10_11_12_avg_df.copy()

#Drop Columns
reading_avg_score_grouped_df=reading_avg_score_grouped_df.drop(columns=["9th Grade Math Score","10th Grade Math Score","11th Grade Math Score","12th Grade Math Score"])
reading_avg_score_grouped_df

#Rename Columns as per solutions
reading_avg_score_grouped_df=reading_avg_score_grouped_df.rename(columns={"9th Grade Reading Score":"9th","10th Grade Reading Score":"10th","11th Grade Reading Score":"11th","12th Grade Reading Score":"12th"})

print(f"READING SCORES BY GRADE \n {reading_avg_score_grouped_df}")

READING SCORES BY GRADE
                              9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [16]:
#This was created in the previous rows but will be used for the subsequent rows for sections: Scores by School Spending, Scores by School Size, Scores by School Type
boolean_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,% Passing Math,% Passing Reading,% Overall Passing
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,True,False,False
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,False,True,False
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,False,True,False
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False,False,False
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,True,True,True
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,True,True,True
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,True,True,True
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,True,True,True
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,True,True,True

In [17]:
#Scores by School Spending

#Take copy of the raw data with added boolean columns, and column names are all in order and named as per solution table.
avg_complete_df=boolean_df.copy()

#------------------------------------
#Adding on new column with calculated budget per student
avg_complete_df["budget per student"]=avg_complete_df["budget"]/avg_complete_df["size"]

#Binning Spending Ranges per Student
bins=[0,584,629,644,675]
group_names=["<$584","$585-629","$630-644","$645-675"]

avg_complete_df["Spending Range Group"]=pd.cut(avg_complete_df["budget per student"], bins, labels=group_names, include_lowest=True)
#Groupby the Spending Range Group
avg_complete_df=avg_complete_df.groupby(["Spending Range Group"])
avg_complete_df=avg_complete_df.mean()
#--------
#Change % Passing subjects from decimal to percentage values
avg_complete_df["% Passing Math"]=avg_complete_df["% Passing Math"]*100
avg_complete_df["% Passing Reading"]=avg_complete_df["% Passing Reading"]*100
avg_complete_df["% Overall Passing"]=avg_complete_df["% Overall Passing"]*100
#--------
#####Editing for final size df#####
#Rename columns
avg_complete_df=avg_complete_df.rename(columns={"math_score":"Average Math Score","reading_score":"Average Reading Score"})
#Drop columns
avg_complete_df=avg_complete_df.drop(columns={"Student ID","School ID","size","budget","budget per student"})
#Reorder columns
avg_complete_df=avg_complete_df[["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading", "% Overall Passing"]]

avg_complete_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Range Group,,,,,
<$584,83.363065,83.964039,93.702889,96.686558,90.640704
$585-629,79.982873,82.312643,79.109851,88.513145,70.939239
$630-644,77.821056,81.301007,70.623565,82.600247,58.841194
$645-675,77.049297,81.005604,66.230813,81.109397,53.528791

In [18]:
#Scores by School Size

#Take copy of raw complete df with bool columns added
size_complete_df=boolean_df.copy()

#-------
#Binning school sizes (based on number of students)
bins=[0,1000,2000,5000]
group_names=["<1000","1000-2000","2000-5000"]

size_complete_df["School Size"]=pd.cut(size_complete_df["size"], bins, labels=group_names, include_lowest=False)

#Groupby the School Size Category
size_complete_df=size_complete_df.groupby(["School Size"])
#size_complete_df=size_complete_df.mean()
size_complete_df=size_complete_df.mean()
#--------
#Change % Passing subjects from decimal to percentage values
size_complete_df["% Passing Math"]=size_complete_df["% Passing Math"]*100
size_complete_df["% Passing Reading"]=size_complete_df["% Passing Reading"]*100
size_complete_df["% Overall Passing"]=size_complete_df["% Overall Passing"]*100
#--------
#####Editing for final size df#####
#Rename columns
size_edited_df=size_complete_df.rename(columns={"math_score":"Average Math Score","reading_score":"Average Reading Score"})
size_edited_df
#Drop columns
size_edited_df=size_edited_df.drop(columns={"Student ID","School ID","size","budget"})
#Reorder columns
size_edited_df=size_edited_df[["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading", "% Overall Passing"]]

size_edited_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
<1000,83.828654,83.974082,93.952484,96.040317,90.136789
1000-2000,83.372682,83.867989,93.616522,96.773058,90.624267
2000-5000,77.477597,81.198674,68.652380,82.125158,56.574046

In [19]:
#Scores by School Type

#Take copy of raw complete df with bool columns added
type_complete_df=boolean_df.copy()

#-------
#Groupby the School Type Category
type_complete_df=type_complete_df.groupby(["type"])
#size_complete_df=size_complete_df.mean()
type_complete_df=type_complete_df.mean()
#--------
#Change % Passing subjects from decimal to percentage values
type_complete_df["% Passing Math"]=type_complete_df["% Passing Math"]*100
type_complete_df["% Passing Reading"]=type_complete_df["% Passing Reading"]*100
type_complete_df["% Overall Passing"]=type_complete_df["% Overall Passing"]*100
#--------
#####Editing for final size df#####
#Rename columns
type_edited_df=type_complete_df.rename(columns={"math_score":"Average Math Score","reading_score":"Average Reading Score"})
#Drop columns
type_edited_df=type_edited_df.drop(columns={"Student ID","School ID","size","budget"})
#Reorder columns
type_edited_df=type_edited_df[["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading", "% Overall Passing"]]

type_edited_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
type,,,,,
Charter,83.406183,83.902821,93.701821,96.645891,90.560932
District,76.987026,80.962485,66.518387,80.905249,53.695878