In [306]:
#Dependencies
import pandas as pd

In [307]:
#Assign variable to read csv file
school_path="../Resources/schools_complete.csv"
student_path="../Resources/students_complete.csv"
print(school_path)

../Resources/schools_complete.csv

In [308]:
#Create Panda dataframes by reading csv file
school_df=pd.read_csv(school_path)
student_df=pd.read_csv(student_path)

In [309]:
#Merge 2 tables provided;student info table, school table
complete_df=pd.merge(student_df, school_df, how="left", on=["school_name","school_name"])
complete_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [310]:
#Reading the csv file for information

# Print headings of dataframes, first 5 rows of the school and student dataframes
print(school_df.columns)
print(student_df.columns)

print(f"{school_df.head()}\n\n------------------------------------------------------\n\n")
print(student_df.head())

print(f"Total items in school_df:{len(school_df)}")
print(f"Total items in student_df:{len(student_df)}")

Index(['School ID', 'school_name', 'type', 'size', 'budget'], dtype='object')
Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score'],
      dtype='object')
   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

------------------------------------------------------


   Student ID       student_name gender grade        school_name  \
0           0       Paul Bradley      M   9th  Huang High School
1           1       Victor Smith      M  12th  Huang High School
2           2    Kevin Rodriguez      M  12th  Huang High School
3           3  Dr. Richard Scott      M  12th  Huang High School
4           4         Bonnie Ray      F   9th  Huang High School

   reading_score  math_score
0             66          79
1             94          61
2             90          60
3             67          58
4             97          84
Total items in school_df:15
Total items in student_df:39170

In [311]:
#DISTRICT SUMMARY#
print("DISTRICT SUMMARY\n----------------")

#Count the total number of schools and assign to total_schools variable
total_schools=school_df["school_name"].count()
print(f"Total Schools: {total_schools}")

#Sum total number of students
total_students=school_df["size"].sum()
print(f"Total Students: {total_students}")

#Sum total budget
total_budget=school_df["budget"].sum()
print(f"Total Budget: ${total_budget:,}")

DISTRICT SUMMARY
----------------
Total Schools: 15
Total Students: 39170
Total Budget: $24,649,428

In [312]:
#Average Maths Score
##TEST: avg_math_score=student_df["math_score"].sum()/total_students
avg_math_score=student_df["math_score"].mean()
print(f"Average Math Score: {avg_math_score:.1f}")

#Average Reading Score
##TEST: avg_reading_score=student_df["reading_score"].sum()/total_students
avg_reading_score=student_df["reading_score"].mean()
print(f"Average Reading Score: {avg_reading_score:.1f}")

Average Math Score: 79.0
Average Reading Score: 81.9

In [313]:
#Percentage Passing Math (The percentage of students that passed Math)
students_pass_math=student_df[student_df["math_score"]>=70].count()["student_name"]
#print(students_pass_math)

#count_student_name_path_math
#ssstudents_pass_math=student_df.loc[student_df["math_score"]>=70,:]

# TEST to get an idea of min, max, median and avg score: 
#print(student_df.describe())

percent_pass_math=students_pass_math/total_students*100
print(f"Percentage Students Passing Maths: {percent_pass_math:.2f}%")

#Percentage passing Reading (The percentage of students that passed Reading)
students_pass_reading=student_df[student_df["reading_score"]>=70].count()["student_name"]
percent_pass_reading=students_pass_reading/total_students*100
print(f"Percentage Students Passing Reading: {percent_pass_reading:.2f}%")

#Percentage passing Math and Reading
#students_pass_both=(student_df[student_df["math_score"]>=70].count() student_df[student_df["reading_score"]>=70].count())["student_name"]

students_pass_both=(student_df[(student_df["math_score"]>=70) & (student_df["reading_score"]>=70)]).count()["student_name"]
#print(students_pass_both)
percent_pass_both=students_pass_both/total_students*100
print(f"Percentage Students Passing Both: {percent_pass_both:.2f}%")

#percent_pass_both=students_pass_both/total_students*100
#print(f"Percentage Overall Passing: {percent_pass_both:.2f}%")

Percentage Students Passing Maths: 74.98%
Percentage Students Passing Reading: 85.81%
Percentage Students Passing Both: 65.17%

In [316]:
#DISTRICT SUMMARY TABLE

total_budget_print=total_budget
dis_summary_df=pd.DataFrame({"Total Schools":[total_schools],"Total Students": [total_students],"Total Budget":[total_budget],"Average Math Score":[avg_math_score],"Average Reading Score":[avg_reading_score],"% Passing Math":[percent_pass_math],"% Passing Reading":[percent_pass_reading],"%Overall Passing":[percent_pass_both]})
dis_summary_df
dis_summary_df["Total Budget"]=dis_summary_df["Total Budget"].map("${:,}".format)
dis_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,%Overall Passing
0,15,39170,"$24,649,428",78.985371,81.87784,74.980853,85.805463,65.172326

In [315]:
student_df.groupby(["school_name"]).mean()

#merge the 2 tables together to get titles 'school type, total students, total school budget'
#per student budget =total students per school/total students at the school (add column to original table)

                       Student ID  reading_score  math_score
school_name
Bailey High School        20358.5      81.033963   77.048432
Cabrera High School       16941.5      83.975780   83.061895
Figueroa High School       4391.0      81.158020   76.711767
Ford High School          36165.0      80.746258   77.102592
Griffin High School       12995.5      83.816757   83.351499
Hernandez High School      9944.0      80.934412   77.289752
Holden High School        23060.0      83.814988   83.803279
Huang High School          1458.0      81.182722   76.629414
Johnson High School       32415.0      80.966394   77.072464
Pena High School          23754.5      84.044699   83.839917
Rodriguez High School     28035.0      80.744686   76.842711
Shelton High School        6746.0      83.725724   83.359455
Thomas High School        38352.0      83.848930   83.418349
Wilson High School        14871.0      83.989488   83.274201
Wright High School        25135.5      83.955000   83.682222